html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
/*navbar css*/
.lnks{
    justify-content: flex-end;
}
.tpbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background: #fff;
}
.nvbr{
    padding: 0px;
}
.dots:focus{
    outline: none !important;
}
.lnks-a{
    color: #395158 !important;
    font-size: 15px;
    font-weight: 700;
    transition: .2s;
    padding: 18px !important;
}
.nav-item .active{
    color: #142327 !important; 
    border-bottom: 3px solid #00a9e3;
}
.lnks-a:hover{
    border-bottom: 3px solid #00a9e3;
}
/*navbar css*/
/*banner css*/
.bnner{
    position: relative;
}
.bg-img{
        background-image: url(../img/banner.jpg);
    padding: 160px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bnner-txt{
    text-align: center;
}

.bnner-txt p{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 60px;
}
.bnner-txt h2{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}
.bnner-txt h2 span{
    color: #00b7ff;
    font-size: 48px;
    font-weight: 600;
}
.lrn-more{
    font-size: 15px;
    font-weight: 600;
    color: #1b1b1b;
    border-radius: 30px;
    padding: 5px 40px;
    box-shadow: none !important;
    transition: .4s;
    
}
.lrn-more:hover{
        box-shadow: inset 130px 0px 0px 0px #224059 !important;
    color: #fff;
}
.down-icon{
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    box-shadow: none!important;
    transition: .4s;
}
.down-icon:hover{
        box-shadow: inset 0px 15px 0px 10px #224059 !important;
    color: #fff;
}

/*banner css*/
/*what we do css*/

.what-we{
    width: 100%;
    padding: 115px 0px;
}
.heading{
    text-align: center;
}

.heading h2{
    color: #3f5d65;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}
.what-item1, .what-item2,.what-item3{
    transition: .70s;
    padding: 30px 45px;
}
.what-item1 a, .what-item2 a,.what-item3 a{
    text-decoration: none;
    
}
.what-item1:hover,.what-item3:hover {
box-shadow: inset 560px 0px 120px 120px #224059 !important;
}
.what-item2:hover{
    box-shadow: inset 0px 560px 120px 120px #224059 !important;
}
.what-item3:hover {
    box-shadow: inset -560px 0px 120px 120px #224059 !important;
}
.what-item1:hover .what-hover-1 h4, .what-item1:hover .what-hover-1 p {
    color: #fff !important;
}
.what-item2:hover .what-hover-2 h4, .what-item2:hover .what-hover-2 p {
    color: #fff !important;
}
.what-item3:hover .what-hover-3 h4, .what-item3:hover .what-hover-3 p {
    color: #fff !important;
}
.heading p{
    font-size: 18px;
    font-weight: 500;
    color: #3f5d65;
    margin-bottom: 65px;
}
.what-we-do{
    text-align: center;
    width: 100%;
}
.what-we-do img{
    margin-bottom: 15px;
}
.what-we-do h4{
    color: #3f5d65;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
.what-we-do p{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/*how-it css*/

.how-it{
    padding: 100px 0px;
    background-color: #f7f7f7;
}

.how-row{
    justify-content: center;
}




.how-it-wrap{
    text-align: center;
}
.what-pad{
    padding: 0 20px;
}
.how-it-wrap span{
    font-weight: 900;
    font-size: 119px;
    color: #00a9e3;
    opacity: 10%;
}
.how-item{
    padding: 70px 22px;
    background-color: #fff;
    
    position: relative;
    top: -70px;
    box-shadow: 0px 0px 12px #00000047;
}
.how-item a{
    text-decoration: none;
}
.how-item img{
    margin-bottom: 32px;
}
.how-item h4{
    color: #3f5d65;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 18px;
    transition: .3s;
}

.hh-1,.hh-2,hh-3{

}

.hh-1::after , .hh-2::after , .hh-3::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #00a9e3;
  transition: 300ms;
}

.hh-1:hover::after , .hh-2:hover::after , .hh-3:hover::after {
  width: 100%;
}

.how-item p{
    color: #757f93;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
/*how-it css*/
/*solutions css*/
.sol-p{
    font-size: 16px!important;
}

.solution{
    width: 100%;
    padding: 100px 0px;
}
.sol-item{
    align-items: center;
    margin-bottom: 12px;
}
.sol-item-p{
    margin: 0 !important;
    color: #3f5d65;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.sol-item-down{
    color: #757f93;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

/*solution css*/

/*testimonial css*/

.testimonial{
        width: 100%;
    padding: 100px 0;
    background-image: url(../img/line.jpg);
    background-position: center;
    background-repeat: repeat-y;
}
.testimonial .heading{
    text-align: left;
}
.testimonial .heading h2{
    font-weight: 600;
    color: #fff;
}
.testimonial .heading p{
    font-weight: 400;
    color: #fff;
}
.test-small-colon{
    text-align: right;
}
.th-1:hover,.th-2:hover,.th-3:hover{
    transform: scale(1.1)
} 

.test-card{
    background-color: #fff;
    box-shadow: 0px 0px 23px #0000005c;
    padding: 40px 44px 22px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.th-1,.th-2,.th-3{
    transition: 1000ms;
}
.test-row{
    align-items: center;
}
.test-card p{
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
.test-card h5{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}
.client-card-p{
    font-size: 14px !important;
    margin-bottom: 0;
}
.client-img img{
    border-radius: 50%;
}
.test-row{
    justify-content: center;
}

.test-wrap{
    background-image: url(../img/big-colon.png);
    background-position: 50px 90px;
    background-repeat: no-repeat;
    
}

.footer{
    width: 100%;
    background-color: #224059;
    padding: 90px 0 100px 0;
}
.footer-logo img{
    margin-bottom: 22px;
}
.footer-logo p{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 22.00px;
}
.contact-info h4{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-bottom: 22px;
}

.map-p , .massage-p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
.footer-middle{
    margin-bottom: 18px;
}

.contact-info a{
    text-decoration: none;
}
.follow{
    margin-bottom: 18px;
}
.follow p{
    font-weight: 600;
}

.contact-info{
    margin-bottom: 20px;
}

.lower-footer{
    background-color: #224059;
    border-top: 1px solid #aaa;
    padding: 30px 0 20px 0;
}
.lower-footer p{
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.lower-footer a{
    text-decoration: none;
    color: #fff;
    
}
@media(max-width:992px){
.sol-item-down {
    margin-bottom: 28px;
}
    .testimonial .heading{
    text-align: center;
}
}

@media(max-width:767px){
    .testimonial{
        background-size: cover;
    }
    .lower-footer{
        text-align: center;
    }
    .how-item {
    padding: 30px 22px;
    }
    .sol-item{
        text-align: center;
    }
    .sol-item-down {
    text-align: center;
}
    .bnner-txt h2, .bnner-txt h2 span{
        font-size: 38px;
    }
    .bnner-txt p{
        font-size: 18px;
    }
}
@media(max-width:466px){
    .bnner-txt h2, .bnner-txt h2 span{
        font-size: 30px;
    }
}
















